*{
    margin: 0;
    padding: 0;

}
.nav a{
    width: 100%;
    font-size:35px;
    color: lemonchiffon;
}
.body{
    background: linear-gradient(to bottom, #49a09d, #5f2c82);
}

.container{
    width: 100vw;
    height: 100vh;
    /* background: #5f2c82;   */
    /* background: -webkit-linear-gradient(to bottom, #49a09d, #5f2c82);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #49a09d, #5f2c82); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
}
.container input{
    height:60px;
    font-size: larger;
}
.container label{
    font-size: larger;
}

.content{
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 25px;
}
